#reader {
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 40px;
  box-sizing: border-box;
  min-height: 100vh;
}

.dark-mode #reader {
  background-color: var(--dark-mode-background);
}

#dark-mode-button {
  background-color: inherit;
  border: none;
  color: var(--color);
}

/* dark mode */

:global(.dark-mode) #dark-mode-button {
  color: var(--dark-mode-color);
}

/* mobile devices */

@media screen and (max-width: 768px) {
  #reader {
    padding: 25px;
  }
}
